body {
    font-family: "mifuente";
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    position: relative; /* Agregado para que el posicionamiento de la flecha sea relativo al cuerpo */
    background-color: #f39c12;
    /* Color de fondo inicial */
    animation: changeColor 3s infinite alternate;
    /* Duración de la animación: 5 segundos */
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 45px;
}

.recetas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto; /* Cambiado para centrar las recetas horizontalmente */
    max-width: 800px; /* Agregado para limitar el ancho de las recetas */
}

.receta {
    width: 50%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: auto; /* Para centrar la receta horizontalmente */
    margin-left: auto; /* Para centrar la receta horizontalmente */
    padding: 20px;
    margin-bottom: 20px;
    position: relative; /* Agregado para posicionar la imagen dentro de la receta */
}

.receta h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.receta p {
    margin-bottom: 10px;
}

.receta ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.receta li {
    margin-bottom: 5px;
}

.receta img {
    position: absolute; /* Posiciona la imagen de forma absoluta dentro de la receta */
    top: 50%; /* Coloca la parte superior de la imagen en el centro vertical de la receta */
    right: 20px; /* Coloca la imagen a 20px del borde derecho de la receta */
    transform: translateY(-50%); /* Centra verticalmente la imagen */
    width: 100px;
    height: 100px;
}

#flecha {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 150px;
    height: auto;
    z-index: 1000; /* Asegura que la flecha esté sobre cualquier otro contenido */
}

@font-face {
    font-family: "mifuente";
    src: url(../assets/fonts/Super\ Senior\ Personal\ Use.ttf);
}
